#
# NODE IGNORE FILES
#

# Ignore the certificate folder so not keys accidentally get pushed.
node/fs/certs/*
# Allow the readme documentation to get pushed.
!node/fs/certs/README.md
# Ignore the config.json file if one.
node/fs/config.json
node/config.py

# Ignore sensitive directories
server/certs

# Testing directory for new working features.
testing

#
# SERVER BACKEND IGNORE FILES
#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
server/backend/static/*
server/backend/server/*

#
# SERVER FRONTEND IGNORE FILES
#

.DS_Store
server/frontend/node_modules
server/frontend/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#
# DOCS IGNORE
#

docs-dev/

#
# EDITOR IGNORE FILES
#

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
